<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationId" value="{{AZURE_AD_APP_REGISTRATION_APPLICATION_ID}}"/>
    <add key="ApplicationSecret" value="{{AZURE_AD_APP_REGISTRATION_APPLICATION_SECRET}}"/>
    <add key="VaultUrl" value="https://{{AZURE_KEY_VAULT_NAME}}.vault.azure.net"/>
    <add key="Identifier" value="{{KEY_IDENTIFIER}}"/>
    <add key="Version" value="{{KEY_VERSION}}"/>
  </appSettings>
</configuration>